<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Index - Matthew Caraway</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Header Section -->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand logo_h" href="/index.html"><h1 class="logo">CarawayLabs</h1></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">About Me</a>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="portfolioDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Portfolio
                            </a>
                            <div class="dropdown-menu" aria-labelledby="portfolioDropdown">
                                <a class="dropdown-item" href="/portfolio/portfolio_index.html">Portfolio Index</a>
                                <a class="dropdown-item" href="/portfolio/vision.html">Vision</a>
                                <a class="dropdown-item" href="/portfolio/validating_problem.html">Validating The Problem</a>
                                <a class="dropdown-item" href="/portfolio/personas.html">Personas</a>
                                <a class="dropdown-item" href="/portfolio/database_persistence_for_recommended_jobs.html">Database Persistence For Recommended Jobs</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">First Iteration PRD</h6>
                                <a class="dropdown-item" href="/portfolio/solution_discovery.html">Solution Discovery</a>
                                <a class="dropdown-item" href="/portfolio/what_did_i_learn.html">What Did I Learn?</a>
                                <a class="dropdown-item" href="/portfolio/qualitative_feedback.html">Qualitative Feedback From Users</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/portfolio/technical_details.html">Technical Information</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sonar.html">Job Sonar Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Content Section -->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="welcome_inner">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="welcome_text">
                            <h4>Portfolio Index</h4>
                            <p>This is the portfolio index page...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Footer Section -->
    <footer class="footer_area p_120">
        <div class="container">
            <div class="row footer_inner">
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget ab_widget">
                        <div class="f_title">
                            <h3>About Me</h3>
                        </div>
                        <p>Do you want to be even more successful? Learn to love learning and growth. The more effort you put into improving your skills.</p>
                        <p>&copy; <script>document.write(new Date().getFullYear());</script> Matthew Caraway. All rights reserved.</p>
                        <p><a href="https://drive.google.com/file/d/1lBS1DVJHOEohGrvKH0qblaS2AvoaTrCC/view?usp=sharing">Privacy Policy</a></p>
                        <p><a href="https://drive.google.com/file/d/1zXkrubCXORH9TtrM75AecgyXULOrw5al/view?usp=sharing">Terms of Use</a></p>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget news_widget">
                        <div class="f_title">
                            <h3>Newsletter</h3>
                        </div>
                        <p>Stay updated with our latest trends</p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-arrow-right"></span></button>		
                                </div>				
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </aside>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <aside class="f_widget social_widget">
                        <div class="f_title">
                            <h3>Follow Me</h3>
                        </div>
                        <p>Let us be social</p>
                        <ul class="list">
                            <li><a href="https://www.linkedin.com/in/matthewcaraway/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://github.com/CarawayLabs"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>


    <!-- Bootstrap JS (optional, needed for some Bootstrap components) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
